CREATE OR ALTER PROCEDURE [dbo].[InsertarCuentaIntegracion] (
    @CTA_ID_INTEGRACION			INT
    ,@CLI_ID					INT
    ,@CTA_NUMERO				INT
	,@ECT_ID					INT				
	,@CTA_FECHA_CREACION		DATETIME
	,@CTA_FECHA_CIERRE			DATETIME
	,@CTA_FECHA_PRIMER_APORTE	DATETIME
	,@CTA_SALDO					INT
	,@CTA_SALDO_CANJE			INT
	,@CTA_SALDO_DISPONIBLE		INT
	,@CTA_CUOTAS				INT
)
as
begin
	INSERT INTO CTA_CUENTA (
		CTA_ID_INTEGRACION
		,CLI_ID
		,CTA_NUMERO
		,ECT_ID
		,CTA_FECHA_CREACION
		,CTA_FECHA_CIERRE
		,CTA_FECHA_PRIMER_APORTE
		,CTA_SALDO
		,CTA_SALDO_CANJE
		,CTA_SALDO_DISPONIBLE
		,CTA_CUOTAS)
	VALUES (
		@CTA_ID_INTEGRACION
		,@CLI_ID
		,@CTA_NUMERO
		,@ECT_ID
		,@CTA_FECHA_CREACION
		,@CTA_FECHA_CIERRE
		,@CTA_FECHA_PRIMER_APORTE
		,@CTA_SALDO
		,@CTA_SALDO_CANJE
		,@CTA_SALDO_DISPONIBLE
		,@CTA_CUOTAS)
end 

