USE GA2_PRUEBAS
IF OBJECT_ID('ObtenerUnidadesEjecutorasCronograma', 'P') > 0
BEGIN
	DROP PROCEDURE [dbo].[ObtenerUnidadesEjecutorasCronograma]
END
GO
CREATE PROCEDURE [dbo].[ObtenerUnidadesEjecutorasCronograma]
AS
begin
	SELECT 
	CRO.CRO_ID,
	FRZ.FRZ_ID,
	FRZ.FRZ_DESCRIPCION, 
	CRO.UEJ_ID,
	UEJ.UEJ_NOMBRE, 
	CRO.CRO_FECHA_REPORTE, 
	CRO.CRO_FECHA_INICIO, 
	CRO.CRO_FECHA_FIN, 
	CRO.CRO_PERIODO,
	CRO.FRT_ID,
	FRT.FRT_DESCRIPCION,
	CRO.MDE_ID,
	MDE.MDE_DESCRIPCION
FROM CRO_CRONOGRAMANOVEDAD CRO
INNER JOIN UEJ_UNIDADES_EJECUTORAS UEJ
ON CRO.UEJ_ID = UEJ.UEJ_ID
INNER JOIN FRZ_FUERZA FRZ
ON UEJ.FRZ_ID = FRZ.FRZ_ID
INNER JOIN FRT_FORMATO FRT
ON CRO.FRT_ID = FRT.FRT_ID
INNER JOIN MDE_MEDIOS_DE_ENVIO MDE
ON CRO.MDE_ID = MDE.MDE_ID
ORDER BY FRZ.FRZ_ID
end

